<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="patient">
        <th mat-header-cell *matHeaderCellDef> PATIENT </th>
        <td mat-cell *matCellDef="let element; let i = index" class="patient-list">
            <span class="count-num">{{i + 1}}</span>
            <span><img src="{{element.profileUrl}}"></span>
            <span>{{element.patient}}</span>
            <span class="gender-sec">{{element.gender}}, {{element.age}} Yr</span>
        </td>
    </ng-container>

    <ng-container matColumnDef="contact">
        <th mat-header-cell *matHeaderCellDef> CONTACT </th>
        <td mat-cell *matCellDef="let element"> {{element.contact}} </td>
    </ng-container>

    <ng-container matColumnDef="appointment">
        <th mat-header-cell *matHeaderCellDef> APPOINTMENT </th>
        <td mat-cell *matCellDef="let element"> {{element.appointment}} </td>
    </ng-container>

    <ng-container matColumnDef="wanted">
        <th mat-header-cell *matHeaderCellDef> WANTED </th>
        <td mat-cell *matCellDef="let element"> 
            <span class="wanted"
                *ngIf="element.wanted">{{element.wanted}} Mins
            </span>
            <span *ngIf="!element.wanted" class="not-arrived">
                Not Arrived
            </span>
        </td>
    </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
