<div class="header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="javascript://">DoctorAppointment</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="mr-3"><a routerLink="/">Appointments</a></li>
        <li>|</li>
        <li class="ml-3"><a routerLink="/appointments">Appointment Slot</a></li>
      </ul>
    </div>
  </nav>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>